body {
    background: #121212;
    color: #e0e0e0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
}

.blog {
    max-width: 1200px;
    width: 200%;
    justify-content: center;
}

h1 {
    font-size: 4rem;
    color: white;
    margin-top: 5px;
    margin-bottom: 0px;
}

.part1 {
    background: #1e1e1e;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 20px;
    margin-left: 75px;
}

.part1 h2 {
    font-size: 2.0rem;
    color: #a987d2;
}

.part2 {
    background: #1e1e1e;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 20px;
    margin-left: 75px;
}

.part2 h2 {
    font-size: 2.0rem;
    color: #a987d2;
}

.date {
    font-size: 1.5rem;
    color: grey;
    margin-left: 75px;
}

.back {
    width: 50px;
    height: 50px;
    white-space: nowrap;
    padding-bottom: 5%;
}
 
.report {
    font-size: 2rem;
    color: #ffffff;
    line-height: 1.65;
    text-align:justify;
}